@charset "UTF-8";
body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin:30px;
}
.pull-right {
    margin-right: auto;
    margin-bottom: 15px;

}
.text-desc{
    font-size: 15px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top:15px;
}