@charset "UTF-8";
body{
    background-color: #efefef;
    background:url("/images/img.png")  no-repeat center center;   /*加载背景图*/   /* 背景图不平铺 */
    background-size:cover;  /* 让背景图基于容器大小伸缩 */
    background-attachment:fixed;        /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
}
.main{
    background-color: rgba(220,220,220,0.9);
    margin:30px;
    background-size: contain;
}
.pull-right {
    margin-right: 0px;
    margin-bottom: 10px;
}

.text-desc{
    font-size: 15px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top:15px;
}
.comment {
    margin: 15px 0;

}
.comment-sp{
    border-bottom: 3px solid #EEEEEE;
    margin-top: 10px;
    margin-bottom: 15px;

}
.menu{
    color:#999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 8px;
    font-size: 15px;
    cursor: pointer;
}
.menu .active{
    color:#499ef3;
}
.menu .icon:hover{
    color:#499ef3;
}
.sub-comments{

}
.sub-comments .btn{
    margin: 10px 0;
}
.comment-icon{
    width:43px;
    height:43px;
    margin-right: 8px;
    font-size: 15px;
    cursor: pointer;
}
.thecolor{
    background-color: rgba(210,210,210,0.95);
}