<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NGA大法庭</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>主题</h2>
            <hr>
            <div class="media" th:each="question : ${pagination.questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded/"
                             th:src="${question.user.avatarUrl}" width="43px" height="43px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{/question/{id} (id=${question.id})}" th:text="${question.title}"></a>
                    </h4>
                    <span th:text="${question.description}" style="word-wrap:break-word"></span><br>
                    <span class="text-desc"><span th:text="${question.commentCount}"></span>个回复 <span th:text="${question.viewCount}"></span>次浏览  发布时间<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH-mm')}"></span></span><br>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a href="/?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrecious}">
                        <a th:href="@{/(page=${pagination.page -1})}" aria-label="Precious">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                        <a th:href="@{/(page=${page})}" th:text="${page}">
                        </a>
                    </li>

                    <li th:if="${pagination.showNextPage}">
                        <a th:href="@{/(page=${pagination.page +1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                    <a th:href="@{/(page=${pagination.totalPage})}" aria-label="End">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                </ul>
            </nav>

        </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <hr>
                <h3>热门话题</h3>
                -------------------<br>
                -------------------<br>
                -------------------<br>
                -------------------<br>
                -------------------<br>
                -------------------<br>
            </div>
    </div>
</div>
</body>
</html>