<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span th:text="${question.title}"></span></h3>
            <hr>
            <span class="text-desc">
                作者:<span th:text="${'AAAAb'+question.user.getName()}"></span> |
                阅读数:<span th:text="${question.viewCount}"></span> |
                <span th:text="${question.commentCount}"></span>个回复 |
                发布时间:<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH-mm')}">
                </span>
            </span>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}"></div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a th:href="@{/publish/{id} (id=${question.id})}" th:if="${(session.user!=null && session.user.id==question.creator)}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    编辑 |
                </a>
            <a href="#" th:if="${(session.user!=null && session.user.id==question.creator)}">
                <span class="glyphicon glyphicon-remove"></span>
                删除
            </a>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h4>发起人</h4><br>
                <div class="media-left">
                    <a>
                        <img class="media-object img-circle"
                             th:src="${question.user.avatarUrl}" width="43px" height="43px">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading" th:text="'AAAAb'+${question.user.getName()}"></h5>
                </div>
                <br>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h4>相关问题</h4></div>
        </div>
    </div>
</div>
</body>
</html>